body {
	background-color: #fff;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	color: #000;
}
/** HEADER **/
#header-nav {
	background-color: #92DCE5;
	border-radius: 0;
	border: 0;
}
/** MAIN CONTENT **/
.cotnainer-fluid, #main-contemt, .menu-item-description  {
	max-width: 1170px;
	padding-right: 15px;
	padding-left: 15px;
	margin-left: auto;
	margin-right: auto;
}
.navbar-header {
	padding-left: 15px;
}
.navbar-brand {
	height: ;
}
.navbar-brand {
	font-size: 30px;
	padding-left: 0;
}
.nav h3, .navbar-brand > p  {
	color: #000;
}
#menu-categories-title, {
	margin-bottom: 15px;
}
.menu-item-description {
	background-color: grey;
	padding: 1px 15px 1px 15px;
	
	margin-bottom: 20px;
}
/*********** Tablet version ***********/
@media (min-width: 768px) and (max-width: 1199px) {

	#main-contemt, .cotnainer-fluid {
		max-width: 960px;
	}
	
}
/*********** Mobile version ***********/
@media (max-width: 767px) {
	
	#main-contemt {
		max-width: 760px;
	}
}
